<meta http-equiv="Content-Security-Policy" content="script-src *.qq.com *.gtimg.com 'unsafe-inline' 'unsafe-eval'">
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="keywords"
    content="now,now直播,腾讯now直播,下载now直播,直播,腾讯直播,直播软件,直播交友,美女,美女直播,舞蹈直播,美女热舞,直播大秀,高颜值直播,免费观看,免费直播,游戏直播,午夜直播,高清美女直播,美女性感直播,韩国女主播,女主播,一对一直播,在线直播">
<meta name="description" itemprop="description" content="腾讯旗下全民社交直播平台，高颜值美女帅哥24小时在线，随时随地与主播连麦互动。同城直播，附近搭讪，找到心仪的Ta。元气少女、国民校花、呆萌软妹、旗袍熟女...百变主播令你眼花缭乱。超人气才艺主播现场献唱，超燃舞蹈达人陪你High玩一夏！Let's
        NOW，开启我们的时刻！">
<meta name="name" itemprop="name" content="腾讯NOW直播—视频语音交友直播平台">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="image" itemprop="image"
    content="https://nowpic.gtimg.com/feeds_pic/ajNVdqHZLLCXv4Z0q1RId7xeUqEybRtJIyUxHKvBrfY3cjQqoiaAYGA/">