// @font-face {
//     font-family: "AlimamaDaoLiTi";
//     src: url('../assets/AlimamaDaoLiTi.woff2') format("woff2");
//     src: url('../assets/AlimamaDaoLiTi.woff') format("woff");
//     src: url('../assets/AlimamaDaoLiTi.ttf') format("truetype");
// }
.react-less {
    font-size: 50px;
    color:darkmagenta;
    // font-family: "AlimamaDaoLiTi";
    display: flex;
}