<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <script src="<%= jsPath %>"></script>
    <script>
        <%= jsFile %>
    </script>
</head>

<body>
    <div id="root">
        <!--HTML_PLACEHOLDER-->

        <script src="https://nowweb.gtimg.com/now/lib/17.0.1/react.min.js"></script>
        <script src="https://nowweb.gtimg.com/now/lib/17.0.1/react-dom.min.js"></script>
        <!--INITIAL_DATA_PLACEHOLDER-->
    </div>
</body>

</html>